@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  background-color: #000;
  padding: 1rem 0;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.4rem;
  font-weight: 800;
  color: #fff;
}

.navbar {
  display: flex;
}

#toggle-btn {
  display: none;
}

.toggler-open {
  display: none;
}

.menu-item {
  position: relative;
  padding: 0 1rem;
}
.menu-link {
  color: #fff;
  font-weight: 600;
  padding: 1rem 0;
  display: block;
  white-space: nowrap;
  transition: all 0.5s ease-in-out;
}

.menu-link:hover {
  color: #ee9c00;
}

/* -------------dropdown-------------------- */
.toggle-dropdown::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-menu {
  position: absolute;
  opacity: 0;
  background: #000;
  min-width: 150px;
  margin-top: 15px;
  transition: all 0.4s;
}

.menu-item.dropdown:hover > .dropdown-menu,
.menu-item.dropdown-submenu:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.dropdown-submenu .toggle-dropdown::after {
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
  margin-left: 5em;
}

.dropdown-submenu .dropdown-menu {
  margin-top: 0;
  left: 100%;
  top: -10px;
}

/*---------------------welcome--------------------- */

#welcome {
  background-color: #404040;
  color: #fff;
  padding: 3rem 0;
}

.welcome-description {
  margin-top: 2rem;
  text-align: center;
}

/* targets screens with max-width 992 */

@media (max-width: 992px) {
  .toggler-open {
    font-size: 1.5rem;
    display: block;
    cursor: pointer;
    color: #fff;
  }

  .navbar {
    display: none;
  }

  .main-nav input[type="checkbox"]:checked ~ .navbar {
    display: block;
    position: absolute;
    background-color: rgb(236, 242, 250);
    width: 100%;
    left: 0px;
    top: 60px;
    padding: 15px;
  }

  .menu-item {
    margin: 15px 0;
    padding: 0;
  }

  .menu-link {
    font-size: 1.125rem;
    color: #261f44;
    padding: 0;
  }

  .dropdown-menu {
    position: static;
    display: none;
    margin-top: 0;
    background: none;
  }

  .menu-item.dropdown:hover > .dropdown-menu,
  .menu-item.dropdown-submenu:hover > .dropdown-menu {
    display: block;
    animation: fadeIn 1s ease;
  }

  .dropdown-submenu .toggle-dropdown::after {
    margin-left: 0.5em;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
