@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  justify-content: center;
}

section{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: url(img/i.webp) center no-repeat;
  z-index: -1;
  background-size: cover;
  filter: brightness(50%);
}

.navbar{
  width: 85%;
  position: relative;
  background: #fff;
  display: flex;
  justify-content: space-around;
  height: 60px;
  line-height: 60px;
  top: 40px;
}

.logo{
  font-size: 1.8em;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 2px;
  color: #222;
}

.nav-menu{
  display: flex;
  position: relative;
  list-style: none;
}

.nav-menu .nav-item a{
  height: 100%;
  display: block;
  color: #222;
  padding: 0 20px;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 500;
}

.nav-menu .nav-item:hover a{
  color: #fff;
  background: #03c04a;
}

.nav-menu .nav-item a i{
  rotate: 0deg;
  display: inline-block;
  transition: 0.3s ease;
}

.nav-menu .nav-item:hover a i{
  rotate: -180deg;
}

.nav-menu .nav-item ul{
  position: absolute;
  list-style: none;
  display: block;
  padding-top: 10px;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in;
}

.nav-menu .nav-item:hover ul{
  height: calc(400% + 10px);
}
.nav-menu .nav-item ul li a{
  display: none;
}
.nav-menu .nav-item:hover ul li a{
  display: block;
  background: #fff;
  color: #222;
}
.nav-menu .nav-item:hover ul li:hover a{
  color: #03c04a;
}