$main-color: #ffffff;
$primary-color: #f50e30;
$secondary-color: #000000;

@mixin flex-base {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding-top: 28px;
  .container {
    max-width: 1319px;
    margin: 0 auto;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  nav {
    background-color: $main-color;
  }
  .left {
    @include flex-base();
  }
  // .left-mob {
  //   @include flex-base();
  //   gap: 20px;
  // }
  .main-nav {
    @include flex-base();
  }
  .navbar {
    display: flex;
    align-items: center;
  }
  #toggle-btn {
    display: none;
  }
  .toggler-open,
  .toggler-close {
    display: none;
  }
  .menu-item {
    position: relative;
    padding: 0 1rem;
    .menu-link {
      color: $secondary-color;
      font-weight: 400;
      padding: 1rem 0;
      display: block;
      text-align: center;
      white-space: nowrap;
      &:hover {
        color: $primary-color;
      }
      .phone {
        @include flex-base();
        justify-content: center;
        gap: 8px;
      }
      .vis {
        font-weight: 500;
      }
    }
  }

  /* targets screens with max-width 375 */

  @media (max-width: 375px) {
    .container {
      max-width: 343px;
    }
    .toggler-open {
      font-size: 1.5rem;
      display: block;
      cursor: pointer;
      color: #fff;
    }
    .vis {
      display: none;
      visibility: hidden;
    }
    .navbar {
      display: none;
    }
    .toggler-close {
      z-index: 1;
      display: block;
      position: fixed;
      padding-top: 60px;
      padding-bottom: 60px;
      padding-right: 23px;
      padding-left: 1000px;
      top: 0;
      right: 0;
    }
    .main-nav input[type="checkbox"]:checked ~ .navbar {
      z-index: 2;
      display: block;
      position: absolute;
      background-color: $main-color;
      width: 100%;
      left: 0px;
      top: 0px;
      padding: 15px;
    }
    .icons {
      display: flex;
      justify-content: center;
      gap: 12px;
    }
    .menu-item {
      margin: 15px 0;
      padding: 0;
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        padding-top: 60px;
      }
      .req {
        padding-top: 8px;
      }
    }

    .menu-link {
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 0.02em;
      span {
        font-weight: 700;
        font-size: 24px;
        line-height: 83%;
        text-align: center;
      }
    }
  }
}
