@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "./blocks/_hero.scss";
@import "./blocks/_header.scss";

$main-color: #ffffff;
$primary-color: #F50E30;
$secondary-color: #000000;

@mixin flex-base {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  .hid{
    display: none;
    visibility: hidden;
  }
  @media(max-width:375px){
    .hid{
      display: block;
      visibility: visible;
    }
    .vis{
      display: none;
      visibility: hidden;
    }
  }
}
